
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <h1>Login Form</h1>
    </div>

    <!-- Login Form -->
    <form [formGroup]="form" (ngSubmit)="submit()">
      <input type="text" id="login" formControlName="email" class="fadeIn second" name="login" placeholder="login">
      <ng-container *ngIf="submitted && f.email.errors">
        <p class="error-message-repair" *ngIf=" f.email.errors.required">
            Email is required!
        </p>
        <p class="error-message-repair" *ngIf=" f.email.errors.email">
            Email is not valid!
        </p>
    </ng-container>
      <input type="text" id="password" formControlName="password" class="fadeIn third" name="login" placeholder="password">
      <ng-container *ngIf="submitted && f.password.errors">
        <p class="error-message-repair" *ngIf=" f.password.errors.required">
            Password is required!
        </p>
    </ng-container>
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" [routerLink]="['/signup']">Signup</a>
    </div>

  </div>
</div>